{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'node--type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head-placeholder token="{{ placeholder_token|raw }}">
<title>{{ head_title|safe_join(' | ') }}</title>
<css-placeholder token="{{ placeholder_token|raw }}">
<js-placeholder token="{{ placeholder_token|raw }}">
{{ styles }}
{{ scripts }}
{% set theme_path = base_path ~ active_theme_path() %}
</head>
<body{{ attributes.addClass(body_classes) }}>
<div class="totopshow">
<a href="#" class="back-to-top"><img alt="Back to Top" src="{{ file_url(theme_path ~ '/images/gototop.png') }}"/></a>
</div>
<a class="visually-hidden focusable" href="#main-content">{{ 'Skip to main content'|t }}</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
