{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'node--type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
{% set type =  node.getType %}
<div class="ttr_post">
<div class="ttr_post_content_inner">
<div class="ttr_post_inner_box">
{{ title_prefix }}
{%  if (type == "page" and not page) or (type == "article" and page)%}
<h2{{ title_attributes.addClass('ttr_post_title') }}>
<a href="{{ url }}">
{{ label }}
</a>
</h2>
{% endif %}
{{ title_suffix }}
</div>
<div class="ttr_article">
{% if display_submitted %}
<div  class="postedon node_meta">
<span  class="meta" {{ author_attributes }}>
{% trans %}Posted on {% endtrans %} 
<img src="{{ file_url( active_theme_path() ~ '/images/datebutton.png') }}" alt="date" />
{{ date }} {% trans %}by {% endtrans %} 
<img src="{{ file_url( active_theme_path() ~ '/images/authorbutton.png') }}" alt="author" />
{{ author_name }}
</span>{{ metadata }}
</div>
{% endif %}
<div  id="main-content" class="postcontent" {{ content_attributes }}>
{{ content.comments }}
{{ content }}
{{ content.comments }}
</div>
<div style="clear:both;"></div>
</div>
</div>
</div>
