{% set theme_path = base_path ~ active_theme_path() %}
{% set theme_path1 = theme_path ~ '/content' %}
<div class="margin_collapsetop"></div>
<div id="ttr_page" class="container">
<div class="ttr_banner_menu">
{% 
if page.menuabovecolumn1 or page.menuabovecolumn2 or page.menuabovecolumn3 or page.menuabovecolumn4
 %}
<div class="ttr_banner_menu_inner_above_widget_container">
<div class="ttr_banner_menu_inner_above0 container row">
{% set showcolumn = page.menuabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menuabovecolumn1">
{{ page.menuabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menuabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menuabovecolumn2">
{{ page.menuabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menuabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menuabovecolumn3">
{{ page.menuabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menuabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menuabovecolumn4">
{{ page.menuabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div id="ttr_menu"> 
<div class="margin_collapsetop"></div>
<nav class="navbar-default navbar-expand-md navbar">
<div id="ttr_menu_inner_in"> 
<div class="ttr_menu_element_alignment container">
<div class="ttr_images_container">
</div>
</div>
<div class="ttr_images_container">
<a href="" class="menuforeground0 " target="_self">
</a>
</div>
<div id="navigationmenu">
<div class="navbar-header">
<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
<span class="ttr_menu_toggle_button">
<span class="sr-only">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</span>
<span class="ttr_menu_button_text">
Menu
</span>
</button>
</div>
<div class="menu-center collapse navbar-collapse">
{{ page.primary_menu }}
</div>
</div>
</div>
</nav>
</div>
<div class="ttr_banner_menu">
{% 
if page.menubelowcolumn1 or page.menubelowcolumn2 or page.menubelowcolumn3 or page.menubelowcolumn4
 %}
<div class="ttr_banner_menu_inner_below_widget_container">
<div class="ttr_banner_menu_inner_below0 container row">
{% set showcolumn = page.menubelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menubelowcolumn1">
{{ page.menubelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menubelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menubelowcolumn2">
{{ page.menubelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menubelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menubelowcolumn3">
{{ page.menubelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.menubelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="menubelowcolumn4">
{{ page.menubelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div class="ttr_banner_header">
{% 
if page.headerabovecolumn1 or page.headerabovecolumn2 or page.headerabovecolumn3 or page.headerabovecolumn4
 %}
<div class="ttr_banner_header_inner_above_widget_container">
<div class="ttr_banner_header_inner_above0 container row">
{% set showcolumn = page.headerabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn1">
{{ page.headerabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn2">
{{ page.headerabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn3">
{{ page.headerabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerabovecolumn4">
{{ page.headerabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<header id="ttr_header">
<div class="margin_collapsetop"></div>
<div id="ttr_header_inner">
<div class="ttr_header_element_alignment container">
<div class="ttr_images_container">
</div>
</div>
{{ page.header }} 
<div class="ttr_images_container">
<a href="" class="headerforeground01 " target="_self">
</a>
{% 
if page.headershape00
 %}
{% set showcolumn = page.headershape00 %}
{% if showcolumn %}
<div class="ttr_headershape01">
{{ page.headershape00 }}
</div>
{% endif %}
{% endif %}
<a href="http://www.facebook.com/" class="ttr_header_facebook " target="_self">
</a>
<a href="https://www.linkedin.com/company/" class="ttr_header_linkedin " target="_self">
</a>
<a href="http://twitter.com/" class="ttr_header_twitter " target="_self">
</a>
<a href="https://plus.google.com/+" class="ttr_header_instagram " target="https://plus.google.com/+">
</a>
<a href="https://www.youtube.com/" class="ttr_header_youtube " target="https://www.youtube.com/">
</a>
</div>
</div>
</header>
<div class="ttr_banner_header">
{% 
if page.headerbelowcolumn1 or page.headerbelowcolumn2 or page.headerbelowcolumn3 or page.headerbelowcolumn4
 %}
<div class="ttr_banner_header_inner_below_widget_container">
<div class="ttr_banner_header_inner_below0 container row">
{% set showcolumn = page.headerbelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn1">
{{ page.headerbelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn2">
{{ page.headerbelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn3">
{{ page.headerbelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.headerbelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="headerbelowcolumn4">
{{ page.headerbelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
<div id="ttr_content_and_sidebar_container">
<div id="ttr_content">
{% set type =  node.getType %}
{% if type == "page" %}
<div id="ttr_html_content_margin" class="container-fluid">
{% else %}
<div id="ttr_content_margin" class="container-fluid">
{% endif %}
<div class="margin_collapsetop"></div>
{% if breadcrumb %}
{{ breadcrumb }}
{% endif %}
{% 
if page.contenttopcolumn1 or page.contenttopcolumn2 or page.contenttopcolumn3 or page.contenttopcolumn4
 %}
<div class="ttr_topcolumn_widget_container">
<div class="contenttopcolumn0 row">
{% set showcolumn = page.contenttopcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn1">
{{ page.contenttopcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn2">
{{ page.contenttopcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn3">
{{ page.contenttopcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contenttopcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="topcolumn4">
{{ page.contenttopcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div style="clear:both;">
</div>
{% if tabs %}
<div style="clear:both;" class="tabs">{{ tabs }}</div>
{% endif %}
{{ page.help }}
{{ page.messages }}
{% if (action_links) %}
<ul class="action-links">{{ action_links }}</ul>{% endif %}
{{ page.content }}
{% 
if page.contentbottomcolumn1 or page.contentbottomcolumn2 or page.contentbottomcolumn3 or page.contentbottomcolumn4
 %}
<div class="ttr_bottomcolumn_widget_container">
<div class="contentbottomcolumn0 row">
{% set showcolumn = page.contentbottomcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn1">
{{ page.contentbottomcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn2">
{{ page.contentbottomcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn3">
{{ page.contentbottomcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.contentbottomcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="bottomcolumn4">
{{ page.contentbottomcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div class="margin_collapsetop"></div>
</div> 
</div> 
<div style="clear:both;">
</div>
</div>
</div>
<div class="footer-widget-area">
<div class="footer-widget-area_left_border_image">
<div class="footer-widget-area_right_border_image">
<div class="footer-widget-area_inner">
{% 
if page.footerabovecolumn1 or page.footerabovecolumn2 or page.footerabovecolumn3 or page.footerabovecolumn4
 %}
<div class="ttr_footer-widget-area_inner_above_widget_container">
<div class="ttr_footer-widget-area_inner_above0 container row">
{% set showcolumn = page.footerabovecolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn1">
{{ page.footerabovecolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn2">
{{ page.footerabovecolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn3">
{{ page.footerabovecolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerabovecolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerabovecolumn4">
{{ page.footerabovecolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
</div>
</div>
</div>
<div class="margin_collapsetop"></div>
<footer id="ttr_footer">
<div class="margin_collapsetop"></div>
 <div id="ttr_footer_inner">
{% 
if page.footercellcolumn1 or page.footercellcolumn2 or page.footercellcolumn3 or page.footercellcolumn4
 %}
<div class="ttr_footer-widget-cell_inner_widget_container">
<div class="ttr_footer-widget-cell_inner0 container row">
{% set showcolumn = page.footercellcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn1">
{{ page.footercellcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footercellcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn2">
{{ page.footercellcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footercellcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn3">
{{ page.footercellcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footercellcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footercellcolumn4">
{{ page.footercellcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
<div id="ttr_footer_top_for_widgets">
<div  class="ttr_footer_top_for_widgets_inner">
{% if page.leftfooterarea or page.centerfooterarea or page.rightfooterarea %}
<div class="footer-widget-area_fixed row">
<div style="margin:0 auto;"></div>
{% if page.leftfooterarea %}
<div  id="first" class="widget-area col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.leftfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="first" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block"></div>
{% endif %}
{% if page.centerfooterarea %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.centerfooterarea }}
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{% else %}
<div  id="second" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-xs d-block" style="clear:both;"></div>
{%  endif %}
{% if page.rightfooterarea %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
{{ page.rightfooterarea }}
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% else %}
<div  id="third" class="widget-area  col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
 
</div>
<div class=" visible-lg visible-md visible-sm visible-xs d-xl-block d-lg-block d-md-block d-sm-block d-block" style="clear:both;"></div>
{% endif %}
</div>
{% endif %}
</div>
</div>
<div class="ttr_footer_bottom_footer">
<div class="ttr_footer_bottom_footer_inner">
<div class="ttr_footer_element_alignment container">
</div>
<div id="ttr_footer_designed_by_links">
<a href="http://unelmaplatforms.com" target="_self"> Drupal Theme </a>
<span id="ttr_footer_designed_by"> Designed With Love ❤️</span>
</div>
{{ feed_icons }}
<a href="http://www.facebook.com/" class="ttr_footer_facebook " target="_self" >
</a>
<a href="https://www.linkedin.com/company//" class="ttr_footer_linkedin " target="_self" >
</a>
<a href="http://twitter.com/" class="ttr_footer_twitter " target="_self" >
</a>
<a href="https://plus.google.com/+" class="ttr_footer_instagram " target="_self" >
</a>
<a href="https://www.youtube.com/" class="ttr_footer_youtube " target="_self" >
</a>
</div>
</div>
</div>
</footer>
<div class="margin_collapsetop"></div>
<div class="footer-widget-area">
{% 
if page.footerbelowcolumn1 or page.footerbelowcolumn2 or page.footerbelowcolumn3 or page.footerbelowcolumn4
 %}
<div class="ttr_footer-widget-area_inner_below_widget_container">
<div class="ttr_footer-widget-area_inner_below0 container row">
{% set showcolumn = page.footerbelowcolumn1 %}
{% if showcolumn %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn1">
{{ page.footerbelowcolumn1 }}
</div>
</div>
{% else %}
<div class="cell1 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn2 %}
{% if showcolumn %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn2">
{{ page.footerbelowcolumn2 }}
</div>
</div>
{% else %}
<div class="cell2 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn3 %}
{% if showcolumn %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn3">
{{ page.footerbelowcolumn3 }}
</div>
</div>
{% else %}
<div class="cell3 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
{% set showcolumn = page.footerbelowcolumn4 %}
{% if showcolumn %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12">
<div class="footerbelowcolumn4">
{{ page.footerbelowcolumn4 }}
</div>
</div>
{% else %}
<div class="cell4 col-xl-3 col-lg-3 col-md-6 col-sm-12  col-xs-12  col-12"  style="background-color:transparent;">
 
</div>
{% endif %}
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
<div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
</div>
</div>
<div style="clear: both;"></div>
{% endif %}
</div>
</div>
